<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <!-- Nav -->
    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"
              />
            </svg>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
          ></ul>
        </div>
        <a class="btn btn-ghost text-xl">EdTech</a>
      </div>
      <div class="navbar-end">
        <a href="/signOut" class="btn">Logout</a>
      </div>
    </div>
    <!-- Nav -->
    <h1 class="text-center text-5xl pt-8"><%= data.name %></h1>
    <p class="text-center"><%= data.Category.name %></p>
    <div class="card bg-base-100 w-4/5 shadow-xl mx-40">
      <div class="card-body shadow-lg shadow-green-500/50">
        <p style="white-space: pre-line;">
          <%= data.description %>
        </p>
        <p style="white-space: pre-line;">
          <%= data.content %>
        </p>
        <div class="card-actions justify-end">
          <p>Liked By: <%= data.numberOfLikes %></p>
          <a href="/course/like/<%= data.id %>">
            <button class="btn btn-secondary">Like</button>
          </a>
          <button class="btn btn-accent">Download</button>
        </div>
      </div>
    </div>
  </body>
</html>
